body{
    background-color: blanchedalmond;
}

nav{
    height:auto;
    padding:10px 10px 10px 23%;
}
.pageNav{
    display:inline-block;
    width:200px;
    height:50px;
    text-align: center;
    text-decoration: none;
    color:white;
    margin-right:10px;
    background-color: #121212;
    border-radius: 10px;
    padding-top:13px;
    box-sizing: border-box;
    transition: background-color 0.5s ease-out 10ms;
}

.pageNav:hover{
    background-color:blanchedalmond;
    color:#121212;
    border: 1px solid #121212;
}

header{
    height:15%;
    padding:10px;
}

header p{
    text-align: center;
    font-size:1.5rem;
    width:80%;
    margin-left:10%;
}

h1{
    text-align: center;
}

.main{
    background-color: aliceblue;
    padding:15px;
    width:50%;
    margin-left:23.8%;
}

.rightSect, .leftSect{
    width:20%;
    padding:15px;
    background-color: aqua;
    margin:10px;
}

.leftSect{
    float:left;
    padding-top: 25px;
}

.leftSect h2{
    padding:0;
    margin:0px 10px;
}

.rightSect{
    float:right;
    padding-top:25px ;
}

.laftCont img{
    width:50%;
    height:150px;
    float:left;
    margin:10px;
}
.laftCont p{
    padding: 10px;
}

.rightSect h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    clear:left;
}

.rightSect img{
    height: 60px;
    width:60px;
    float:left;
    margin:5px;

}

.main img{
    margin:0px 10px 10px 0px;
    float:left;
    height:130px;
    width:130px;
}
.mainCont{
    margin-bottom: 20px;;
}
.mainCont a{
    color:black;
    display:block;
    text-decoration: none;
    transition: background-color 2s ease-out 100ms
}
.mainCont h3{
    font-size: 2rem;
    text-decoration: none;
}
.mainCont a:hover{
    background-color: #121212;
    color:#F5F5F5;
}


.adCont{
    font-size: 3em;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#F5F5F5;
    padding-top:70px;
    box-sizing: border-box;
}
.mainAdCont{
    height:200px;
    background-color: #121212;
}
.mainCont p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 25px;
    text-decoration: none;
}

footer{
    background-color: #121212;
    color:#F5F5F5;
    height:100px;
}

footer p{
    font-size: 1.5em;
    text-align: center;
    padding:10px;
    padding-top:30px;
}






/* ------------------------------------------- GRID BLOG PAGE STYLING ----------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
.gridMain{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap:20px;
    margin:0;
}

.gridLeft{
    height:100%;
    padding:20px;
    height:1782px;
    background-color: yellow;
}

.gridRight{
    height: 1800px;
    padding:10px;
    background-color: yellowgreen;
}



.gridLaftCont{
    display:grid;
    background-color:#F5F5F5;
    grid-template-rows: 40px 90px auto 40px;
    margin-bottom:30px;
    padding:15px;
    gap:10px;
}

.gridLaftCont img{
    height:100%;
    width:100px;
    margin:0px 0px 0px 25%;
    padding:0px;
    border-radius: 50%;
}
.gridLaftCont h2{
    margin:0;
    text-align: center;
    padding:10px;
    font-size:medium;
}
.gridLaftCont a{
    display:block;
    text-align: center;
    border:2px solid #121212;
    border-radius: 10px;
    padding-top:13px;
    text-decoration: none;
    color:#121212;
    transition:background-color 0.09ms ease-in-out 50ms;
}
.gridLaftCont a:hover{
    background-color: #12121221;
}
.gridLaftCont p{
    padding:20px;
    text-align:justify;
    margin:0;
    font-size: smaller;
}

.gridRightCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px;
    gap:10px;
    padding:15px;
}

.gridRightCont h2{
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: span 4;
    padding:10px;    
    margin:0;
}

.gridRightCont img{
    height:100%;
    width:100%;
    margin:0px;
}

.gridMid{
    display:grid;
    grid-template-rows: 180px 180px 180px 180px 180px 180px 180px; 
    gap:20px;
    padding:20px 20px 20px 20px;
    box-sizing: border-box;
    height:fit-content;
    background-color: aqua;
    margin-bottom: 20px;
}

.gridMidCont{
    width:100%;
    background-color: azure;
    box-sizing: border-box;
    height:180px;
    /*display:grid;
    height:300px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

.gridMidCont a{
    display: block;
    height:100%;
    width:100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out 50ms;
    text-decoration: none;
}
.gridMidCont a:hover{
    background-color: #12121234;
    color:#121212;
}

.gridMidCont > a > .anc{
    display:grid;
    grid-template-rows: 50px 100px;
    grid-template-columns: 1fr 4fr;
    gap:10px;
    height:100%;
}
.anc img{
    grid-row: span 2;
    width:100%;
    border-radius: 10%;
    margin: 10px;
    height:100%;
}
.anc h2{
    text-align: left ;
    margin-bottom:0;
    padding:10px;
    width:95%;
    font-size: 20px;
}
.anc p{
    text-align: left;
    margin:10px 5px;
    box-sizing: border-box;
    height:auto;
    padding:5px;
    width:95%;
    font-size: 16px;
}
.gridFoot{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin:0;
    padding:10px;
}
.gridFoot > p{
    padding:0;
    margin-top:35px;
}
.chat{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    height:50px;
    margin-top:20px;
}
.chat p{
    margin:0px;
    text-align: center;
    border: 1px solid #F5F5F5;
    padding-top:15px;
    font-size:medium;
}
.chat a{
    display: block;
    height:50px;
    width:50px;
    align-content: center;
    border: 1px solid #F5F5F5;
    color: #F5F5F5;
}
.chat a svg{
    width:30px;
    height:30px;
    margin-left:10px;
}
.chat a:hover{
    background-color: #F5F5F5;
    color:#121212;
}