body{
    background-color: blanchedalmond;
}

header{
    height:15%;
    padding:10px;
}

header p{
    text-align: center;
    font-size:1.5rem;
    width:80%;
    margin-left:10%;
}

h1{
    text-align: center;
}

.main{
    background-color: aliceblue;
    padding:15px;
    width:50%;
    margin-left:23.8%;
}

.rightSect, .leftSect{
    width:20%;
    padding:15px;
    background-color: aqua;
    margin:10px;
}

.leftSect{
    float:left;
    padding-top: 25px;
}

.leftSect h2{
    padding:0;
    margin:0px 10px;
}

.rightSect{
    float:right;
    padding-top:25px ;
    margin-bottom: ;
}

.laftCont img{
    width:50%;
    height:150px;
    float:left;
    margin:10px;
}
.laftCont p{
    padding: 10px;
}

.rightSect h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    clear:left;
}

.rightSect img{
    height: 60px;
    width:60px;
    float:left;
    margin:5px;

}

.main img{
    margin:0px 10px 10px 0px;
    float:left;
    height:130px;
    width:130px;
}
.mainCont{
    margin-bottom: 20px;;
}
.mainCont a{
    color:black;
    display:block;
    text-decoration: none;
    transition: background-color 2s ease-out 100ms
}
.mainCont h3{
    font-size: 2rem;
    text-decoration: none;
}
.mainCont a:hover{
    background-color: #121212;
    color:#F5F5F5;
}


.adCont{
    font-size: 3em;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#F5F5F5;
    padding-top:70px;
    box-sizing: border-box;
}
.mainAdCont{
    height:200px;
    background-color: #121212;
}
.mainCont p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif ;
    line-height: 25px;
    text-decoration: none;
}

footer{
    background-color: #121212;
    color:#F5F5F5;
    height:100px;
}

footer p{
    font-size: 2em;
    text-align: center;
    padding:10px;
    padding-top:30px;
}